body {
  background-color: #5195a6;
}



  img {

    width: 300px;
    z-index: 10;
    position: fixed;


  }

  .sun4 {
    margin-left: 100px;
    width: 200px;
    margin-top: 300px;
  }

  .sun4.showme {
  display:block;
  opacity: 1;
  }

  .sun4 {
  display:none;
  opacity: 0.1
  }

.sun3 {
  margin-left: 900px;
  width: 400px;
}

  .sun3.showme {
  display:block;
  opacity: 1;
  }

  .sun3 {
  display:none;
  opacity: 0.1
  }

  .sun2 {
    margin-left: 300px;
    width: 100px;
  }

  .sun2.showme {
  display:block;
  opacity: 1;
  }

  .sun2 {
  display:none;
  opacity: 0.1
  }

  .sun.showme {
  display:block;
  opacity: 0.8;
  }

  .sun {
  display:none;
  opacity: 0.1
  }

.sun{
  width: 350px;
  z-index: 3;
  margin-left: 520px;

  margin-right: 100px;
}

.text {
  font-size: 10px;
  color: white;

  display: inline-block;
  font-family: arial;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  width: 100%;

}

.menu {

  z-index: 10;
  display: inline-block;
  background-color: black;
  padding: 10px;
  color: white;
  margin-top: 400px;
  width: 500px;
  opacity: 0.8;
  padding-left: 100px;
  padding-right: 100px;
  letter-spacing: 5px;

}



.contain {
  padding: 20px;

}

@-webkit-keyframes pulse_animation {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 3000ms;
  -webkit-transform-origin: 70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}

div.meme {
  margin-left: 550px;
  align-items: center;
  margin-top: 100px;
  align-content: center;
}


a {
  text-decoration: none;
  color: red;
  font-family: arial;
  font-size: 10px;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color:  #ff1a66;
}
a:active {
    color: #59466f;
}
