body {
  background-color: #5195a6;
}



  img {


    padding-top: 150px;
    width: 300px;

  }


.text {
  font-size: 10px;
  color: white;

  display: inline-block;
  font-family: arial;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  width: 100%;

}

.menu {


  display: inline-block;
  background-color: black;
  padding: 10px;
  color: white;
  margin-top: 50px;
  width: 500px;
  opacity: 0.8;
  padding-left: 100px;
  padding-right: 100px;
  letter-spacing: 5px;



}

a {
  text-decoration: none;
  color: red;
  font-family: arial;
  font-size: 10px;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color:  #ff1a66;
}
a:active {
    color: #59466f;
}
