body {
  background-color: #5195a6;
}



  img {


    padding-top: 150px;
    width: 300px;

  }


.text {
  font-size: 10px;
  color: white;

  display: inline-block;
  font-family: arial;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  width: 100%;

}

.menu {


  display: inline-block;
  background-color: black;
  padding: 10px;
  color: white;
  margin-top: 50px;
  width: 500px;
  opacity: 0.8;
  padding-left: 100px;
  padding-right: 100px;
  letter-spacing: 5px;
}

.contain {
  padding: 20px;
}

@-webkit-keyframes pulse_animation {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 3000ms;
  -webkit-transform-origin: 70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}



a {
  text-decoration: none;
  color: red;
  font-family: arial;
  font-size: 10px;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color:  #ff1a66;
}
a:active {
    color: #59466f;
}
