*{
  box-sizing:border-box;
}

body {
  font-family: arial;
  font-size: 10px;
  background-color:  #5195a6;
  color: white;




}

.card__layout {
  display:flex;
  flex-wrap:wrap;
  margin-right: 100px;

}

.card__container {
  height: 200px;
  position: relative;
  flex:0 0 16.6666%;
  width:200px;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.card .side__back {
  background: steelblue;
  transform: rotateY(180deg);


  color: white;
}

.card .side img {
  width: 100%;
  height:100%;
}





.row{
  display:flex;
  flex-wrap:wrap;
  margin-left: 45px;
  margin-top: 80px;

}

.align__bottom {
  align-items:flex-end;
}

.col{
  flex:0 0 16.66666%;

}

.content{

}

.content img{
  width:100%;
}




.col {
  width: 100%;
  display: inline-block;
  height: 200px;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-grow: 3;
}

img {

  display: inline-flex;
  height: 100%;
  width: 200px;

}

.text {
  font-size: 10px;
  color: white;
  background-color: steelblue;
  display: inline-block;
  font-family: helvetica;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  width: 100%;
  height: 200px;
}

.menu {
  position: fixed;
  z-index: 2;
  display: inline-block;
  background-color: #5195a6;
  padding: 10px;
  color: white;
  -webkit-transform: rotate(90deg);
  padding-left: 120px;

  margin-left: 1090px;
  width: 500px;
  letter-spacing: 5px;
  margin-top: 300px;



}

a {
  text-decoration: none;
  color: red;
}

a:link {
    color: gold;
}
a:visited {
    color: gold;
}
a:hover {
    color: lightpink;
}
a:active {
    color: #59466f;
}
