/* Note target the body first with the modifer.
For example, every evenSecond change the div color to blue.
Every oddSecond change the div color to red

body.evenS .time {
  color:blue;
}

body.oddS .time {
  color:red;
}

Target multiple together. Every evenSecond only in the evening, display an image.

body.evenS.pm .sunset {
  display:block;
}

*/


/* Time CSS here */



body.halfM .time, body.oddS .message{
  color:white;
}



body.pm .image_swap .wood, body.pm .image_swap .afternoon{
  display: block;
}


body.am .image_swap .wood, body.am .image_swap .afternoon{
  display: none;
}

body.pm .image_swap .waterfall, body.pm .image_swap .morning {
  display: none;
}


body.am .image_swap .waterfall, body.am .image_swap .message{
  display: block;
}



body.friday .message {
  color: navy;
}

body.saturday .time, body.sunday .time{
  color: cyan;
}


body.halfS .wingindex {
  display: none;
}



body.h12.quaterM .kerrie {
  display: block;
}

.kerrie {
  display: none;
}


.image_swapS img {
  display: none;
}

body.quarterS .swap1 {
  display: block;
}
body.halfS .swap2 {
  display: block;
}
body.threequarterS .swap3 {
  display: block;
}
body.fullM .swap4 {
  display: block;
}

.nav_video1 {
  display: none;
}

.nav_video2 {
  display: none;
}

body.monday .nav_video1, body.wednesday .nav_video1, body.friday .nav_video1 {
  display: inline;
}

body.tuesday .nav_video2, body.thursday .nav_video2, body.saturday .nav_video2, body.sunday .nav_video2 {
  display: inline;
}


.about {
  display: none;
}

body.h0 .night, body.h1 .night, body.h2 .night, body.h3 .night, body.h4 .night,  {
display: block
}

body.h5 .morning, body.h6 .morning, body.h7 .morning, body.h8 .morning, body.h9 .morning, body.h10 .morning, body.h11 .morning, {
  display: block;
}

body.h12 .afternoon, body.h13 .afternoon, body.h14 .afternoon, body.h15 .afternoon, body.h16 .afternoon, body.h17 .afternoon, body.h18 .afternoon, body.h17 .afternoon, body.h18 .afternoon,   {
display: block;
}

body.h19 .night, body.h19 .night, body.h20 .night, body.h19 .night, {
  display: block;
}
