/* Note target the body first with the modifer.
For example, every evenSecond change the div color to blue.
Every oddSecond change the div color to red

body.evenS .time {
  color:blue;
}

body.oddS .time {
  color:red;
}

Target multiple together. Every evenSecond only in the evening, display an image.

body.evenS.pm .sunset {
  display:block;
}

*/


/* Time CSS here */

body.evenS .time, body.evenS .message{
  color: blue;
}

body.oddS .time, body.oddS .message{
  color:red;
}

body.evenS {
  background-color: black;
}

body.oddS {
  background-color: white;
}

body.pm .image_swap .eclipse, body.pm .image_swap .afternoon{
  display: block;
}


body.am .image_swap .eclipse, body.am .image_swap .afternoon{
  display: none;
}

body.pm .image_swap .sunrise, body.pm .image_swap .morning {
  display: none;
}


body.am .image_swap .sunrise, body.am .image_swap .message{
  display: block;
}

body.halfS .time{
  font-size: 20px;
}

body.friday .message {
  color: blue;
}

body.saturday .time, body.sunday .time{
  color: cyan;
}




body.h12.quaterM .kerrie {
  display: block;
}

.kerrie {
  display: none;
}
